<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <SCRIPT src="static/scripts/app.js"></SCRIPT>
        <meta charset="utf-8">
        <title>Moove</title>

        <link rel="stylesheet" href="styles/index.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <div class="main1">
            <div class="booktrip">
                <form class="origin" action="index.html" method="post">
                    <!--label for="originplace">Enter Current Location:</label-->
                    <input type="text" name="originplace" id="originplace"
                    placeholder="Current location" required>
                    <!--label for="destination">Enter Desired Location:</label-->
                    <input type="text" name="destination" id="destination"
                    placeholder="Desired Location" required>
                    <!--label for="startdate">Select Departure Date:</label-->
                    <input type="date" id="startdate" name="startdate" required>
                </form>
                <!--this is the dropbox to select a cabin-->
                <div class="cabindrop">
                    <p>Select Cabin<i class="fas fa-angle-down"></i></p>
                    <div class="cabins">
                        <ul>
                            <li class="econ">Economy</li>
                            <li class="bus">Business</li>
                            <li class="first">First Class</li>
                        </ul>
                    </div>
                </div>
                <button type="submit" name="Search" id="searchButton">Search</button>
            </div>
        </div>
        <div class="main2">
            <div class="logo"></div>
            <div class="aside">
                <div class="about">
                    <h2 class="aboutheading">Welcome to Moove</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.<p>
                </div>
                <div class="places">
                    <h2 class="viewplaces">Check out these cities!</h2>
                    <div class="vegas">
                        <a href="https://www.lasvegasnevada.gov/"></a>
                        <p>Las Vegas, Nevada</p>
                    </div>
                    <div class="portland">
                        <a href="https://www.portlandoregon.gov/"></a>
                        <p>Portland, Oregon</p>
                    </div>
                    <div class="sandiego">
                        <a href="https://www.sandiego.gov/"></a>
                        <p>San Diego, California</p>
                    </div>
                </div>
            </div>
            <!--footer>
                <p>Always providing the best transportation options!</p>
            </footer-->
        </div>
    </body>
</html>
