<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MOOVE</title>

        <link rel="stylesheet" href="../static/styles/loading.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>One step closer to your destination...</h1>
        </header>
        <div class="cow">
            <div class="head"></div>
        </div>

        <!--footer-->
        <footer>
            <a href="https://github.com/fcantor/Moove">Created by Team Moove</a>
        </footer>
    </body>
</html>
