html {
    top: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    width: auto;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

/*left side*/
.main1 {
    background-image: url(images/unsplash-mountains.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: auto;
}

.booktrip {
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin: 50px 20px 50px 20px;
    padding: 20px;
    border: .5px solid #9F9E94;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 5px 2px #9F9E94;
    -moz-box-shadow: 0 0 5px 2px #9F9E94;
    box-shadow: 0 0 25px 5px #9F9E94;
    width: 45%;
    height: 500px;
}

input {
    margin-top: 20px;
    margin-left: 30px;
    align-self: center;
    width: 17vw;
    height: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #9F9E94;
}

input:focus {
    outline: none;
}

::placeholder {
    color: black;
    font-weight: bold;

}

input, textarea {
    background-color: rgba(255, 255, 255, 0);
}

.cabindrop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: -5px;
    width: 253px;
    height: 100px;
    font-size: 15px;
}


.cabindrop p {
    border-bottom: 2px solid #9F9E94;
    margin-left: 35px;
    padding-top: 5px;
    padding-left: 3px;
    width: 17vw;
    color: black;
    font-weight: bold;
}

.cabindrop p .fas {
    margin-left: 35px;
    height: 25px;
    width: 25px;
    color: black;
    font-weight: bold;
}

.cabindrop .cabins {
    visibility: hidden;
}

.cabindrop:hover .cabins {
    visibility: visible;
}

.cabindrop .cabins ul {
    margin-top: -15px;
    margin-left: 35px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    border: 1px solid #9F9E94;
    border-top: none;
    height: 70px;
    width: 240px;
    list-style-type: none;
}

.cabindrop .cabins ul li {
    margin: 5px;
}

.cabindrop .cabins ul li:hover {
    right: 0;
    left: 0;
    background-color: rgba(159, 158, 148, .3);
}

button {
    align-self: center;
    margin-top: 15px;
    height: 30px;
    width: 65px;
}

.g-signin2 {
    height: 30px;
}
/*right side*/
.main2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
}

.main2 .logo {
    position: absolute;
    top: 0;
    background-image: url(images/cow-logo.png);
    background-repeat: no-repeat;
    margin-right: 10px;
    align-self: center;
    color: #D1B33E;
    width: 200px;
    height: 40%;
}

.aside {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin: 180px 20px 50px 20px;
    width: 60%;
    height: auto;
    text-align: center;
}

.aside .about {
    overflow-wrap: normal;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 20px;
    width: 80%;
    height: auto;
}

.aside .about .aboutheading {
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
}

.aside .about p {
    margin: 0;
}

.aside .places {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 75px;
    width: 80%;
    height: 60%;
}

.aside .viewplaces {
    margin: 0;
    align-self: center;
    left: 0;
    right: 0;
}

a {
    margin: 5px;
    padding: 5px;
}

.aside .places .vegas {
    background-image: url(images/vegas.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.aside .places .vegas p {
    margin-top: 100px;
}

.aside .places .portland {
    background-image: url(images/portland.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.aside .places .portland p {
    margin-top: 100px;
}

.aside .places .sandiego {
    background-image: url(images/sandiego.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.aside .places .sandiego p {
    margin-top: 82px;
}

.aside .places .vegas p a,
.aside .places .portland p a,
.aside .places .sandiego p a {
    text-decoration: none;
    color: black;
    text-align: center;
}

footer {
    visibility: hidden;
}
